{% extends 'layout.twig' %} {% block content %}
<section
  class="mt-1 mb-4 lg:mt-2 flex flex-col gap-2 lg:flex-row lg:items-start"
>
  <div class="grow flex flex-col gap-4">
    <div
      class="navbar justify-center lg:py-4 lg:px-20 lg:bg-base-200 h-20 lg:rounded-lg"
    >
      <div class="">
        <div
          role="tablist"
          class="tabs tabs-sm border border-neutral-content rounded-badge py-1.5 px-2"
        >
          <a role="tab" class="tab text-xs font-bold rounded-full">
            My Shows
          </a>
          <a
            role="tab"
            class="tab text-xs font-bold tab-active rounded-full bg-primary text-primary-content"
            >Popular</a
          >
        </div>
      </div>
    </div>
    <div
      class="grid gap-4 place-items-center lg:grid-flow-row lg:place-items-center lg:grid-cols-4 xl:grid-cols-5 lg:gap-y-4 lg:auto-rows-auto"
    >
     {% for i in 1..20%}
     {% include 'shows/show-card.twig' %}
     {% endfor %}
    </div>
    <div class="join self-center mt-2">
      <button class="join-item btn">«</button>
      <button class="join-item btn">Page 22</button>
      <button class="join-item btn">»</button>
    </div>
  </div>
</section>
{% endblock %}
