{% extends 'layout.twig' %} {% block content %}
<section
  class="mt-1 mb-4 lg:mt-2 flex flex-col gap-2 lg:flex-row lg:items-start"
>
  <div class="grow flex flex-col gap-4">
    <div
      class="navbar justify-around gap-4 lg:justify-center lg:py-4 lg:px-20 lg:bg-base-200 h-20 lg:rounded-lg"
    >
      <div class="">
        <div
          role="tablist"
          class="tabs tabs-sm border border-neutral-content rounded-badge py-1.5 px-2"
        >
          <a
            role="tab"
            class="tab text-xs font-bold rounded-full {{ '?sort=new' not in current_url(true) ? 'tab-active bg-primary text-primary-content' }}"
            href="/discover"
          >
            Popular
          </a>
          <a
            role="tab"
            class="tab text-xs font-bold rounded-full {{ '?sort=new' in current_url(true) ? 'tab-active bg-primary text-primary-content' }}"
            href="/discover?sort=new"
            >New</a
          >
        </div>
      </div>
      <select
        class="select select-bordered rounded-badge h-10 min-h-10 max-w-xs"
      >
        <option disabled selected>Select a genre</option>
        <option>All</option>
        <option>Action</option>
        <option>Adult</option>
        <option>Adventure</option>
        <option>Anime</option>
        <option>Crime</option>
        <option>Comedy</option>
        <option>DIY</option>
        <option>Drama</option>
        <option>Espionage</option>
        <option>Family</option>
        <option>Fantasy</option>
        <option>Food</option>
        <option>History</option>
        <option>Horror</option>
        <option>Legal</option>
        <option>Medical</option>
        <option>Music</option>
        <option>Mystery</option>
        <option>Nature</option>
        <option>Romance</option>
        <option>Science Fiction</option>
        <option>Sports</option>
        <option>Supernatural</option>
        <option>Thriller</option>
        <option>Travel</option>
        <option>War</option>
        <option>Western</option>
      </select>
    </div>
    <div
      class="grid gap-6 place-items-center lg:grid-flow-row lg:place-items-center lg:grid-cols-4 xl:grid-cols-5 lg:gap-y-8 lg:auto-rows-auto"
    >
      {% for show in shows %} {% include 'shows/show-card.twig' with {'show':
      show} %} {% endfor %}
    </div>
    <div class="join self-center mt-4">
      <button class="join-item btn">«</button>
      <button class="join-item btn">Page 22</button>
      <button class="join-item btn">»</button>
    </div>
  </div>
</section>
{% endblock %}
