{% extends 'layout.twig' %} {% block content %}
<section
  class="mt-1 mb-4 lg:mt-2 flex flex-col gap-2 lg:flex-row lg:items-start"
>
  {% include 'sidebar.twig' %}
  <div class="grow">
    <div class="navbar lg:py-4 lg:px-20 lg:bg-base-200 h-20 lg:rounded-lg">
      <div class="flex-1">
        <h1 class="text-xl font-bold">
          DECEMBER <span class="font-normal">| 2024</span>
        </h1>
      </div>
      <div class="flex-none">
        <div
          role="tablist"
          class="tabs tabs-sm border border-neutral-content rounded-badge py-1.5 px-2"
        >
          <a role="tab" class="tab text-xs font-bold rounded-full">My Shows</a>
          <a
            role="tab"
            class="tab text-xs font-bold tab-active rounded-full bg-primary text-primary-content"
            >Popular</a
          >
        </div>
      </div>
    </div>
    <div class="lg:hidden">{% include 'airing-today.twig' %}</div>
    <div class="mt-2 bg-base-100 px-2 lg:px-0">
      <div
        class="hidden lg:grid grid-flow-col place-items-center py-4 px-6 bg-base-200 rounded-lg font-bold"
      >
        <span>Monday</span>
        <span>Tuesday</span>
        <span>Wednesday</span>
        <span>Thursday</span>
        <span>Friday</span>
        <span>Saturday</span>
        <span>Sunday</span>
      </div>
      <div
        class="mt-2 grid gap-4 lg:grid-flow-row lg:grid-cols-7 lg:gap-1 lg:auto-rows-auto"
      >
        {% for i in 1..30 %} {% include 'date-card.twig' with {'i': i} %} {%
        endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
