{% extends 'layout.twig' %} {% block content %}
<section class="mt-2 flex gap-2">
  {% include 'sidebar.twig' %}
  <div class="grow">
    <div class="navbar bg-base-200 h-20 rounded-xl px-4git">
      <div class="flex-1">
        <h1 class="text-xl font-bold">
          December <span class="font-normal">| 2024</span>
        </h1>
      </div>
      <div class="flex-none">
        <div
          role="tablist"
          class="tabs border border-neutral-content rounded-badge p-1"
        >
          <a role="tab" class="tab rounded-full">My Shows</a>
          <a
            role="tab"
            class="tab tab-active rounded-full bg-primary text-primary-content"
            >Popular</a
          >
        </div>
      </div>
    </div>
    <div class="">calendar</div>
  </div>
  <div class="w-80">airing today</div>
</section>
{% endblock %}
