<article
  class="card gap-6 bg-base-200 {{ "now"|date("d") == i ? 'bg-info-content' }} rounded-lg p-2 lg:p-0 {% if i == 1 %} lg:col-start-2 {% endif %}"
>
  <p class="self-end px-3 py-1 text-sm lg:text-base font-semibold">
    <span class="font-normal lg:hidden">Friday, </span>
    {# TODO: provide date to twig to format suffix #}
    {{ i }}<span class="text-xs lg:hidden">{{ i == 1 ? 'st' : i == 2 ? 'nd' : i == 3 ? 'rd' : 'th'  }}</span>
  </p>
  <div class="card-body gap-2 lg:gap-1 p-1"> 
    <div
      class="bg-base-100 rounded-sm p-4 lg:p-2 lg:px-2 flex justify-between overflow-hidden"
    >
      From<span class="">2x8</span>
    </div>
    <div
      class="bg-base-100 rounded-sm p-4 lg:p-2 lg:px-2 flex justify-between overflow-hidden"
    >
      Severance<span>1x12</span>
    </div>
  </div>  
</article>
{# TODO: mark today's date #} 