services:
  app:
    build:
      context: './docker'
      dockerfile: Dockerfile
      args:
        - UID=${UID:-1000}
        - GID=${UID:-1000}
        - USER=${USER:-user}
        - GROUP=${USER:-user}
    container_name: tv-calendar-app
    working_dir: /var/www/
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    ports:
      - '9003:9003'
    volumes:
      - .:/var/www
      - ./docker/local.ini:/usr/local/etc/php/conf.d/local.ini
      - tv-calendar-sessions:/tmp

  nginx:
    image: nginx:1.19-alpine
    container_name: tv-calendar-nginx
    environment:
      - SERVER_NAME=${SERVER_NAME}
    ports:
      - '8000:80'
    volumes:
      - .:/var/www
      - ./docker/nginx/dev.conf:/etc/nginx/conf.d/default.conf
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf

  db:
    container_name: tv-calendar-db
    image: postgres:17-bookworm
    volumes:
      - ./storage:/storage
      - tv-calendar-db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - 5432:5432
    command: ['postgres', '-c', 'log_statement=all']

  db-test:
    container_name: tv-calendar-db-test
    image: postgres:17-bookworm
    volumes:
      - ./storage:/storage
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: tv-calendar-test-db
    ports:
      - 5444:5432
    command: ['postgres', '-c', 'log_statement=all']

  adminer:
    image: adminer
    ports:
      - 8001:8080

  node:
    image: node:lts-alpine
    volumes:
      - .:/var/www
    working_dir: /var/www/

  cron:
    build: ./docker/cron
    profiles: [withcron]
    volumes:
      - .:/var/www
      - ./docker/cron/local.ini:/usr/local/etc/php/conf.d/local.ini
    depends_on:
      - db

  mailhog:
    image: mailhog/mailhog
    logging:
      driver: 'none'
    ports:
      - '8025:8025'
      - '1025:1025'

  ntfy:
    image: binwiederhier/ntfy
    container_name: tv-calendar-ntfy
    command:
      - serve
    ports:
      - 3333:80
    environment:
      TZ: UTC
      NTFY_BASE_URL: http://localhost:3333
      NTFY_CACHE_FILE: /var/lib/ntfy/cache.db
      NTFY_AUTH_FILE: /var/lib/ntfy/auth.db
      NTFY_AUTH_DEFAULT_ACCESS: deny-all
      # dev password: password
      NTFY_AUTH_USERS: 'tv:$$2a$$12$$V3M0aJyoMfOS.yNLOiXCn.jsGHZuMUHB9S8V.r0Yey2FTWUZxGsV6:admin' # Must escape '$' as '$$'
      NTFY_AUTH_TOKENS: 'tv:tk_dzedgb2t4ejk3kmumr7tp64uvzwuq'
      #NTFY_VISITOR_REQUEST_LIMIT_EXEMPT_HOSTS: #### Server IP
      #NTFY_GLOBAL_TOPIC_LIMIT: ## set higher than 15000 if needed
      # NTFY_CACHE_BATCH_SIZE: 25 #not needed for now
      # NTFY_CACHE_BATCH_TIMEOUT: '1s' #not needed for now
      NTFY_CACHE_STARTUP_QUERIES: 'pragma journal_mode = WAL; pragma synchronous = normal; pragma temp_store = memory; pragma busy_timeout = 15000; vacuum;'

      # NTFY_BEHIND_PROXY: true
      # NTFY_ATTACHMENT_CACHE_DIR: /var/lib/ntfy/attachments
      # NTFY_ENABLE_LOGIN: true # optional: set desired timezone
    user: ${UID:-1000}:${GID:-1000} # optional: replace with your own user/group or uid/gid
    volumes:
      - ./storage/ntfy:/var/lib/ntfy
      #- ./config:/etc/ntfy
    healthcheck: # optional: remember to adapt the host:port to your environment
      test:
        [
          'CMD-SHELL',
          "wget -q --tries=1 http://localhost:80/v1/health -O - | grep -Eo '\"healthy\"\\s*:\\s*true' || exit 1",
        ]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 40s
    init: true # needed, if healthcheck is used. Prevents zombie processes
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 950M

  ntfy-test:
    image: binwiederhier/ntfy
    container_name: tv-calendar-ntfy-test
    command:
      - serve
    ports:
      - 80
    environment:
      TZ: UTC
      NTFY_AUTH_FILE: /var/lib/ntfy/auth.db
      NTFY_CACHE_FILE: /var/lib/ntfy/cache.db
      NTFY_AUTH_DEFAULT_ACCESS: deny-all
      # dev password: password
      NTFY_AUTH_USERS: 'tv-test:$$2a$$12$$V3M0aJyoMfOS.yNLOiXCn.jsGHZuMUHB9S8V.r0Yey2FTWUZxGsV6:admin' # Must escape '$' as '$$'
      NTFY_AUTH_TOKENS: 'tv-test:tk_dzedgb2t4ejk3kmumr7tp64uvzwuq'
      NTFY_VISITOR_REQUEST_LIMIT_EXEMPT_HOSTS: '172.18.0.10' ##set ip of app container
      # NTFY_CACHE_BATCH_SIZE: 25
      # NTFY_CACHE_BATCH_TIMEOUT: '1s'
      NTFY_CACHE_STARTUP_QUERIES: 'pragma journal_mode = WAL; pragma synchronous = normal; pragma temp_store = memory; pragma busy_timeout = 15000; vacuum;'
      # NTFY_BEHIND_PROXY: true
      # NTFY_ATTACHMENT_CACHE_DIR: /var/lib/ntfy/attachments
      # NTFY_ENABLE_LOGIN: true # optional: set desired timezone
    user: ${UID:-1000}:${GID:-1000} # optional: replace with your own user/group or uid/gid
    volumes:
      - ./storage/ntfy-test:/var/lib/ntfy
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 950M

volumes:
  tv-calendar-db-data:
  tv-calendar-sessions:
