services:
  app:
    build:
      context: './docker'
      dockerfile: Dockerfile
      args:
        - UID=${UID:-1000}
        - GID=${UID:-1000}
        - USER=${USER:-user}
        - GROUP=${USER:-user}
    container_name: tv-calendar-app
    working_dir: /var/www/
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    ports:
      - '9003:9003'
    volumes:
      - .:/var/www
      - ./docker/local.ini:/usr/local/etc/php/conf.d/local.ini
      - tv-calendar-sessions:/tmp

  nginx:
    image: nginx:1.19-alpine
    container_name: tv-calendar-nginx
    environment:
      - SERVER_NAME=${SERVER_NAME}
    ports:
      - '8000:80'
    volumes:
      - .:/var/www
      - ./docker/nginx/dev.conf:/etc/nginx/conf.d/default.conf
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf

  db:
    container_name: tv-calendar-db
    image: postgres:17-bookworm
    volumes:
      - ./storage:/storage
      - tv-calendar-db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - 5432:5432
    command: ['postgres', '-c', 'log_statement=all']

  db-test:
    container_name: tv-calendar-db-test
    image: postgres:17-bookworm
    volumes:
      - ./storage:/storage
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: tv-calendar-test-db
    ports:
      - 5444:5432
    command: ['postgres', '-c', 'log_statement=all']

  adminer:
    image: adminer
    ports:
      - 8001:8080

  node:
    image: node:lts-alpine
    volumes:
      - .:/var/www
    working_dir: /var/www/

  cron:
    build: ./docker/cron
    profiles: [withcron]
    volumes:
      - .:/var/www
      - ./docker/cron/local.ini:/usr/local/etc/php/conf.d/local.ini

  mailhog:
    image: mailhog/mailhog
    logging:
      driver: 'none'
    ports:
      - '8025:8025'
      - '1025:1025'

volumes:
  tv-calendar-db-data:
  tv-calendar-sessions:
