<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php" displayDetailsOnTestsThatTriggerWarnings="true">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="DB_USER" value="test" force="true"/>
        <env name="DB_PASS" value="test" force="true"/>
        <env name="DB_NAME" value="tv-calendar-test-db" force="true"/>
        <env name="DB_HOST" value="db-test" force="true"/>
        <env name="APP_NAME" value="test"/>      
        <env name="APP_URL" value=""/>      
        <env name="MAILER_DSN" value=""/>      
        <env name="MAILER_FROM" value=""/>      
        <env name="GOOGLE_CLIENT_ID" value=""/>      
        <env name="GOOGLE_CLIENT_SECRET" value=""/>      
        <env name="GOOGLE_REDIRECT_URI" value=""/>      
        <env name="NTFY_BASE_URL" value="http://ntfy-test:80"/>      
        <env name="NTFY_ADMIN_TOKEN" value="tk_dzedgb2t4ejk3kmumr7tp64uvzwuq"/>      
        <ini name="memory_limit" value="300M" />
    </php>
</phpunit>
