{% extends 'layout.twig' %} {% block content %} {% block javascripts %}
{{ parent() }}
{% endblock %}
<section
  class="mt-1 mb-4 lg:mt-2 flex flex-col gap-2 lg:flex-row lg:items-start"
  {% if user %}
  user
  {% endif %}
>
  <div class="grow flex flex-col gap-6">
    PREMIERING THIS WEEK
  </div>
</section>
{% endblock %}
