@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* rubik-regular - latin */
  @font-face {
    font-display: swap;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik-v28-latin-regular.woff2") format("woff2");
  }
  /* rubik-700 - latin */
  @font-face {
    font-display: swap;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik-v28-latin-700.woff2") format("woff2");
  }
}

:root:has(
    :is(
        .modal-open,
        .modal:target,
        .modal-toggle:checked + .modal,
        .modal[open]
      )
  ) {
  overflow: unset;
}
