<p>Hello,</p>
<p>
   You have requested to reset your password. Please follow the link below:
</p>
<p>
    <a href="{{resetLink}}">Reset password</a>
    (This link is valid for the next 30 minutes)
</p>
<p>Please ignore this email if you did not request a password reset.</p>
