<p>
    Thank you for signing up for TV Calendar! 
</p>
<p>
    <a href="{{activationLink}}">Activate your account</a>
    (this link is valid for the next 48 hours)
</p>
<p>If you have any feedback or suggestions, we'd love to hear from you!</p>
<p>Happy watching!</p>
