{% extends 'layout.twig' %}
{% set page_title = 'Contact |' %} 

{% set page_meta_desc = 'Contact page for TvShowCalendar.' %}
{% set page_canonical = app_url ~ current_url() %}

{% block content %}

<section
  class="mt-16 mb-16 flex flex-col gap-8 lg:gap-10 mx-4 lg:items-center lg:mx-0"
>
  <h1 class="text-center font-semibold tracking-tight text-xl">
    Contact Us
  </h1>

  <div class="max-w-3xl text-lg space-y-6">
    <p>
      Have a question, suggestion, or just want to get in touch? We'd love to hear from you.
    </p>
    <p>
        <strong>Email:</strong> <a href="mailto:info@tvshowcalendar.com">info@tvshowcalendar.com</a>
    
  </div>
</section>
{% endblock %}
